@font-face {
	font-family: 'mesheven-iconfont';
	src:url('mesheven-iconfont.eot?-21v61s');
	src:url('mesheven-iconfont.eot?#iefix-21v61s') format('embedded-opentype'),
		url('mesheven-iconfont.woff?-21v61s') format('woff'),
		url('mesheven-iconfont.ttf?-21v61s') format('truetype'),
		url('mesheven-iconfont.svg?-21v61s#mesheven-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mesheven-iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-leftarrow:before {
	content: "\e600";
}
.icon-rightarrow:before {
	content: "\e601";
}
.icon-frequency:before {
	content: "\e602";
}
.icon-angles:before {
	content: "\e603";
}
.icon-speed:before {
	content: "\e604";
}
.icon-acceleration:before {
	content: "\e605";
}
.icon-elapsedtime:before {
	content: "\e606";
}
.icon-electriccurrent:before {
	content: "\e607";
}
.icon-electricvoltage:before {
	content: "\e608";
}
.icon-energy:before {
	content: "\e609";
}
.icon-pressure:before {
	content: "\e60a";
}
.icon-power:before {
	content: "\e60b";
}
.icon-volume:before {
	content: "\e60c";
}
.icon-area:before {
	content: "\e60d";
}
.icon-length:before {
	content: "\e60e";
}
.icon-humidity:before {
	content: "\e60f";
}
.icon-temperature:before {
	content: "\e610";
}
.icon-luminousintensity:before {
	content: "\e611";
}
.icon-electricresistance:before {
	content: "\e612";
}
.icon-electricinductance:before {
	content: "\e613";
}
.icon-mass:before {
	content: "\e614";
}
.icon-force:before {
	content: "\e615";
}
.icon-electriccharge:before {
	content: "\e616";
}
.icon-electriccapacitance:before {
	content: "\e617";
}
.icon-volume-high:before {
	content: "\e618";
}
.icon-volume-medium:before {
	content: "\e619";
}
.icon-volume-low:before {
	content: "\e61a";
}
.icon-volume-mute2:before {
	content: "\e61b";
}
.icon-volume-increase:before {
	content: "\e61c";
}
.icon-volume-decrease:before {
	content: "\e61d";
}
